:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: rgb(44, 42, 54);
  --bg-bold: rgb(62, 59, 75);
  --bg-text: rgb(224, 224, 224);
  --bg-text-bold: rgb(255, 255, 255);
  --fg: rgb(224, 224, 224);
  --fg-bold: rgb(255, 255, 255);
  --fg-text: rgb(44, 42, 54);
  --fg-text-bold: rgb(62, 59, 75);

  --nav-height: 5rem;
  --nav-button-ratio: 0.6;
  --nav-button-size: calc(var(--nav-button-ratio)*var(--nav-height));
  --sidebar-width: 250px;
  --sidebar-padding: 5px;
  --sidebar-in-time: 400ms;
  --sidebar-out-time: 800ms;
  --dropdown-width: 270px;
  --dropdown-padding: 1rem;

  --border: 1px solid var(--bg-bold);
  --border-radius: 8px;
  --speed: 200ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}